@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fcfcfc;
    font-family: 'Inter', sans-serif;
}

input, button, select, textarea{
    outline: none;
    border: none;
    border-radius: 0.1rem;
}

div{
    background-color: #252121;
    padding: 0.9rem;
    border-radius: 0.3rem;
    min-width: 20rem;
    margin: 1rem 0rem 1rem 0rem;
}

div p, label, 
.product-data > h6, 
#options > h2{
    color: #fff;
}

form > input[type="button"], #change-options > button, table input[type="button"], input[type="submit"]{
    margin: 0.5px 0px 0.5px 0px;
    background-color: #eeeaf3;
    font-weight: 400;
    border-radius: 0.1rem;
    font-family: 'Inter', sans-serif;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

#change-options > button{
    font-weight: 600;
}

div input, select, textarea{
    max-width: 20rem;
}

table{
    background-color: #fff;
    border: 1px solid #fff;
    padding: 0.5rem;
}

#post, #get, #put, #delete{
    display: none;
}
